-----BEGIN RSA PRIVATE KEY-----
# This is a placeholder for the development private key.
# DO NOT USE THIS IN PRODUCTION!
#
# Generate your own keypair:
#   openssl genrsa -out license/keys/dev.pem 2048
#   openssl rsa -in license/keys/dev.pem -pubout > license/keys/dev.pub.pem
#
# The public key is used to verify signed fingerprints.
# The private key should NEVER be included in the binary.

-----END RSA PRIVATE KEY-----
